.movie__container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}
.movie__info {
  padding: 20px;
}
.movie__title,
.movie__score,
.movie__overview {
  margin-bottom: 10px;
}
